@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "dark-custom";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(34.8% 0.074 242.749);
  --color-base-200: oklch(28.9% 0.06 240.876);
  --color-base-300: oklch(32.4% 0.072 240.79);
  --color-base-content: #ffffff;
  --color-primary: oklch(95% 0.026 236.824);
  --color-primary-content: oklch(40.124% 0.068 197.603);
  --color-secondary: oklch(60.682% 0.108 309.782);
  --color-secondary-content: oklch(96% 0.016 293.756);
  --color-accent: oklch(87% 0.169 91.605);
  --color-accent-content: oklch(18.685% 0.02 94.555);
  --color-neutral: oklch(36.2% 0.065 241.966);
  --color-neutral-content: oklch(97.9% 0.045 230.8);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(93% 0.031 262.88);
  --color-success: oklch(84% 0.143 164.978);
  --color-success-content: oklch(12.541% 0.033 149.213);
  --color-warning: oklch(82% 0.178 80.3);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(74.2% 0.282 25.331);
  --color-error-content: oklch(14.79% 0.038 27.33);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

:root {
  --box-shadow:
    0 2px 6px oklch(from var(--color-base-300) l c h / 0.25),
    0 8px 24px oklch(from var(--color-base-300) l c h / 0.33),
    0 16px 32px oklch(from var(--color-base-300) l c h / 0.33);
}

body {
  font-family: var(--font-myriad-pro), sans-serif;
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
}

h1 {
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

strong,
b {
  font-weight: 700;
}

p {
  margin-bottom: 1em;
}

.prose p {
  margin-bottom: 2em;
}

.prose hr {
  margin: 0;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
