---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";

type Props = CollectionEntry<"projects">["data"];

const { title, description, favicon, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} favicon={favicon} image={heroImage} />
    <meta name="theme-color" content="steelblue" />
    <script src="../scripts/theme-color.ts"></script>
  </head>

  <body>
    <slot />
  </body>
</html>
